<ons-page modifier="splash-back">
    <img class="logo" src="assets/MONICCA.png" />
    <div class="tag-line">
        Manages Your Money <br> Manages Your Life
    </div>
    <div class="button-container">
        <br>
        <ons-button ng-click="myNavigator.pushPage('try.html')" class="custom-button border-button">
            Try
        </ons-button>
        <br><br>
        <ons-button ng-click="myNavigator.pushPage('login.html')" class="custom-button fill-button">
            Login
        </ons-button>
    </div>
</ons-page>
