/**
 * Override ONS Stylesheet
 */
.page__background {
    background: #fff;
}

.navigation-bar {
    border: 0;
}
.page--splash-back__background {
    background:url(../assets/background_splash.jpg) no-repeat center;
    height:100%;
    background-size:cover;
    color: #fff;
}

/**
 * Custom CSS
 * Created by : Mahar Prasetio
 */

.logo {
    text-align: center;
    max-width: 100%;
    height: auto !important;
    margin: 15% auto 3% auto;
    display: block;
}

.tag-line {
    text-align: center;
    color: #fff;
}

.button-container {
    margin: 63% auto 0 auto;
    text-align: center;
}

.custom-button {
    width: 80%;
    text-transform: uppercase;
    border-radius: 4px;
}

.border-button {
    background-color: transparent;
    border: 2px solid #ff9600;

}

.fill-button {
    background-color: #ff9600;
    border: 2px solid #ff9600;
}

.normal {
    font-weight: normal;
}

.thin {
    font-weight:lighter;
}

ons-carousel[halfscreen] {
    position: absolute;
    top: 110px;
    right: 0;
    left: 0;
    /* bottom: 0px; */
    text-align: center;
    height: 90%;
}

.investment-card {
    width: 100%;
}

.button--no-background {
    background-color: transparent;
}

.button--disabled {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
